<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CONG TY NUOC ABC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script>
        function getMin(Id) {
            var curMax = parseFloat(document.getElementById("max" + Id).value);
            curMax += 0.01;
            curMax = Math.round(curMax * 100) / 100;
            document.getElementById("min" + (Id + 1)).value = curMax;
        }

        function modify(Id) {
            var str = document.getElementById("mod" + Id).innerHTML;
            //Xử lý cho phép nhập giá trị sửa
            if (str === "Sửa") {
                var dis = document.getElementsByClassName("disable");
                for (var i = 0; i < dis.length; i++) {
                    dis[i].disabled = true;
                }
                document.getElementById("mod" + Id).disabled = false;
                document.getElementById("mod" + Id).innerHTML = "Xác nhận";
                document.getElementById("max" + Id).disabled = false;
            }
            //Xử lý xác minh giá trị nhập
            else {
                var validateResult = validate(Id);
                //Xử lý khi giá trị hợp lệ
                if (!Number.isNaN(Number(validateResult))) {
                    document.getElementById("mod" + Id).innerHTML = "Sửa";
                    document.getElementById("max" + Id).disabled = true;
                    document.getElementById("max" + Id).value = validateResult;
                    document.getElementById("error").style.visibility = "hidden";
                    getMin(Id);
                    var dis = document.getElementsByClassName("disable");
                    for (var i = 0; i < dis.length; i++) {
                        dis[i].disabled = false;
                    }
                }
                //Đưa thông báo lỗi khi giá trị không hợp lệ
                else {
                    document.getElementById("error").innerHTML = validateResult;
                    document.getElementById("error").style.visibility = "visible";
                }

            }
        }

        function validate(Id) {
            var curMax = Number(document.getElementById("max" + Id).value);
            curMax = (Math.round(curMax * 100)) / 100;
            var preMax = (Id == 1) ? 0 : Number(document.getElementById("max" + (Id - 1)).value);
            var nextMax = Number(document.getElementById("max" + (Id + 1)).value);
            //Xác thực là số và lớn hơn 0
            if (Number.isNaN(curMax)) {
                return "Giá trị nhập phải là số";
            }
            //Xác thực không bỏ trống
            else if (document.getElementById("max" + Id).value == "")
                return "Không bỏ trống";
            //Xác thực số không âm
            else if (curMax <= 0)
                return "Giá trị max của bậc là số dương";
            //Xác thực trong khoảng giá trị [preMax+0.01;nextMax-0.01]
            else if (curMax <= preMax + 0.01 || curMax >= nextMax - 0.01)
                return "Giá trị nhập phải lớn hơn giá trị đầu và nhỏ hơn giá trị cuối bậc sau-0.01";
            else
                return curMax;
        }
    </script>
</head>
<body>
<form method="post" action="" th:object="${config}">

    <div th:each="level,stat: *{levelList}">
        <label>Bậc:</label>
        <input type="text" style="width:30px"
               readonly="readonly"
               th:value="${stat.count}">
        <label>Giá trị đầu</label>
        <input th:id="|min${stat.count}|"
               readonly="readonly"
               th:value="(${stat.index}==0)? (0)
			   : (0.01 + *{levelList[__|${stat.index}-1|__].maxValue})">
        <label>Giá trị cuối</label>
        <input th:id="|max${stat.count}|"
               th:value="${level.maxValue}"
               disabled>
        <label>Giá tiền</label>
        <input th:id="|price${stat.count}|"
               th:value="${level.price}"
               th:field="*{levelList[__${stat.index}__].price}">
        <a th:href="|/api/v1/configurations/del_level_from_form?id=${stat.index}|">
            <button class="disable">Xóa</button>
        </a>
        <button class="disable" type="button" th:id="|mod${stat.count}|"
                th:onclick="|modify(${stat.count})|">Sửa
        </button>
    </div>
    <button class="disable" type="submit"
            formaction="/api/v1/configurations/save_config_todb" value="Lưu"></button>
    <button class="disable" type="submit"
            formaction="/api/v1/configurations/add_level_to_form" value="Thêm bậc"></button>
</form>
<p id="error" style="visibility: hidden">Lỗi!</p>
</body>
</html>
